@{
    Layout = "/Views/Menu.cshtml";
}
<link rel="stylesheet" href="~/css/fields.css" media="screen" type="text/css" />

<div id="login-form">
    <h1>NEW PLAYER</h1>
    <fieldset>
        <form action="/Players/AddPlayer">
            <input type="text" name="name" required placeholder="Name" pattern="^[a-zA-Z]+$">
            <input type="text" name="surname" required placeholder="Surname" pattern="^[a-zA-Z]+$">
            <input type="text" name="year" required placeholder="Year" pattern="^[0-9]+$">
            <select name="health">
                <option value=true>Healthy</option>
                <option value=false>Injured</option>
            </select>
            <input type="text" name="salary" required placeholder="Salary" pattern="^[0-9]+$">
            <input type="submit" value="ADD">
        </form>
    </fieldset>
</div> 
