@inject _002.Dependency.Services.IGreeting GreetingService
<!doctype html>
<html>
<head>
    <title>Razor code examples</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
</head>
<body>
    <p>@GreetingService.Greet()</p>
</body>
</html>